{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <style>
        .styling{
            margin:10px; display: flex; justify-content: center; max-width: 33.33%; flex-direction:column;
            background-color: white;
            color: black; 
            border: 1px solid black;
        }
        .styling:hover{
            box-shadow: 0px 0px 16px 0px white;
        }
    </style>

    <h1 style="text-align: center">Products</h1>

    <table class="table">
        <tbody style="display: flex; flex-wrap:wrap">
        {% for product in products %}
            <tr class="styling">
                <td style="text-align: center; background-color: #212529; color: white; border-top:none">{{ product.name }}</td>
                <td><a href="{{ path('product_show', {'id': product.id}) }}"><img src={{ vich_uploader_asset(product, 'imageFile') }} width="300px" height="300px"></a></td>
                <td>{{ product.description }}</td>
                <td>Price: € {{ product.price }}</td>
                <td>Product code: {{ product.code }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td style="display: flex; justify-content:center; width: 100%">
                    <a style="margin-right: 5px" class="btn btn-primary" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a style="margin-left: 5px" class="btn btn-warning" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
                {% elseif is_granted('ROLE_CUSTOMER') %}
                <td style="display: flex; justify-content:center; width: 100%">
                    <a class="btn btn-success" href="{{ path('product_add', {'id': product.id}) }}">add to cart</a>
                </td>
                {% else %}
                <td style="display: flex; justify-content:center; width: 100%">
                        <a class="btn btn-success" href="{{ path('fos_user_registration_register') }}">add to cart</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <div style="display: flex; justify-content:center; width: 100%">
        <a class="btn btn-success" href="{{ path('product_new') }}">Create new</a>
    </div>
    {% endif %}
{% endblock %}
